<?xml version='1.0' encoding='utf-8'?>
<config>
    <appearance>
        <theme>
            <active>light</active> 
            <light>
                <tab>
                    <background>#ffffff</background>
                    <font_color>#000000</font_color>
                    <button_bg_color>#f0f0f0</button_bg_color>
                    <button_font_color>#000000</button_font_color>
                    <border_color>#cccccc</border_color>
                </tab>
                <toolbar>
                    <background>#ffffff</background>
                    <font_color>#000000</font_color>
                    <button_bg_color>#e9ecef</button_bg_color>
                    <button_hover_bg_color>#dee2e6</button_hover_bg_color>
                    <button_tooltip_bg_color>#000000</button_tooltip_bg_color>
                </toolbar>
                <titlebar>
                    <background>#ffffff</background>
                    <font_color>#000000</font_color>
                    <separator_color>#cccccc</separator_color>
                    <tab_color>#333333</tab_color>
                </titlebar>
                <statusbar>
                    <background>#e0e0e0</background>
                    <font_color>#000000</font_color>
                    <env_color>#0055ff</env_color>
                    <status_color>#008000</status_color>
                </statusbar>
                <widget>
                    <background>#f0f0f0</background>
                    <border>#666666</border>
                    <text>#666666</text>
                    <accent>#ffffff</accent>
                </widget>
            </light>
            <dark>
                <tab>
                    <background>#000000</background>
                    <font_color>#ffffff</font_color>
                    <button_bg_color>#333333</button_bg_color>
                    <button_font_color>#ffffff</button_font_color>
                    <border_color>#444444</border_color>
                </tab>
                <toolbar>
                    <background>#252526</background>
                    <font_color>#ffffff</font_color>
                    <button_bg_color>#333333</button_bg_color>
                    <button_hover_bg_color>#444444</button_hover_bg_color>
                    <button_tooltip_bg_color>#ffffff</button_tooltip_bg_color>
                </toolbar>
                <titlebar>
                    <background>#333333</background>
                    <font_color>#ffffff</font_color>
                    <separator_color>#555555</separator_color>
                    <tab_color>#dddddd</tab_color>
                </titlebar>
                <statusbar>
                    <background>#252525</background>
                    <font_color>#ffffff</font_color>
                    <env_color>#ffffff</env_color>
                    <status_color>#ffffff</status_color>
                </statusbar>
                <widget>
                    <background>#333333</background>
                    <border>#aaaaaa</border>
                    <text>#ffffff</text>
                    <accent>#1e1e1e</accent>
                </widget>
            </dark>
            <focus>
                <tab>
                    <background>#ffffff</background>
                    <font_color>#000000</font_color>
                    <button_bg_color>#f0f0f0</button_bg_color>
                    <button_font_color>#000000</button_font_color>
                    <border_color>#cccccc</border_color>
                </tab>
                <toolbar>
                    <background>#1a252f</background>
                    <font_color>#ffffff</font_color>
                    <button_bg_color>#34495e</button_bg_color>
                    <button_hover_bg_color>#ffffff</button_hover_bg_color>
                    <button_tooltip_bg_color>#ffffff</button_tooltip_bg_color>
                </toolbar>
                <titlebar>
                    <background>#ffffff</background>
                    <font_color>#000000</font_color>
                    <separator_color>#000000</separator_color>
                    <tab_color>#000000</tab_color>
                </titlebar>
                <statusbar>
                    <background>#e0e0e0</background>
                    <font_color>#000000</font_color>
                    <env_color>#0000ff</env_color>
                    <status_color>#008000</status_color>
                </statusbar>
                <widget>
                    <background>#34495e</background>
                    <border>#bdc3c7</border>
                    <text>#bdc3c7</text>
                    <accent>#1a252f</accent>
                </widget>
            </focus>
            <custom>
                <tab>
                    <background>#97ffa7</background>
                    <font_color>#000000</font_color>
                    <button_bg_color>#ff557f</button_bg_color>
                    <button_font_color>#000000</button_font_color>
                    <border_color>#cccccc</border_color>
                </tab>
                <toolbar>
                    <background>#ffffff</background>
                    <font_color>#000000</font_color>
                    <button_bg_color>#f0f0f0</button_bg_color>
                    <button_hover_bg_color>#e0e0e0</button_hover_bg_color>
                    <button_tooltip_bg_color>#000000</button_tooltip_bg_color>
                </toolbar>
                <titlebar>
                    <background>#ffffff</background>
                    <font_color>#ff007f</font_color>
                    <separator_color>#cccccc</separator_color>
                    <tab_color>#000000</tab_color>
                </titlebar>
                <statusbar>
                    <background>#98f0b1</background>
                    <font_color>#55aaff</font_color>
                    <env_color>#000000</env_color>
                    <status_color>#000000</status_color>
                </statusbar>
                <widget>
                    <background>#ff557f</background>
                    <border>#000000</border>
                    <text>#000000</text>
                    <accent>#97ffa7</accent>
                </widget>
            </custom>
        </theme>
        <font>
            <name>Segoe UI Black</name>
            <title>
                <size>24</size>
                <weight>bold</weight>
            </title>
            <subtitle>
                <size>16</size>
                <weight>bold</weight>
            </subtitle>
            <text>
                <size>14</size>
                <weight>normal</weight>
            </text>
            <button>
                <size>12</size>
                <weight>bold</weight>
            </button>
        </font>
    </appearance>
    <logger>
        <enabled>true</enabled>
        <max_size_mb>5</max_size_mb>
        <max_duration_minutes>60</max_duration_minutes>
        <log_level>ERROR</log_level>
    </logger>
    <window>
        <resize_window>false</resize_window>
    </window>

</config>